<table class="newera-actorsheet-table">
    <tr>
        <th colspan="3">CLASS</th>
    </tr>
    {{#each inventory.classes as |entry id|}}
        <tr class="inventory-entry inventory-entry-classes" data-item-id="{{entry._id}}">
            <td class="item-edit">
                <img class="class-icon" src="{{entry.img}}" title="{{entry.name}}" />
            </td>
        <td class="item-edit"><span class="class-name">{{entry.name}}</span></td>
        <input type="hidden" name="system.classes.{{toLowerCase entry.system.selectedClass}}.level" value="{{entry.system.level}}" />
        <td>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    {{/each}}
    <tr class="item-create" data-type="Class">
        <td colspan="6"><a title="Add Class" id="addSpellButton"><i class="fas fa-plus"></i> ADD CLASS</a></td>
    </tr>
</table>

{{#if system.isOverLeveled}}
<p style="color: red; font-weight: bold">The sum of your class levels may not exceed your overall level</p>
{{/if}}
{{#if system.isUnderLeveled}}
    <p style="color: yellow">You leveled up! Choose a class to apply your new level.</p>
{{/if}}

<div class="newera-itemsheet-properties">
    <div class="newera-itemsheet-property-50">
        <h4>HP Increment</h4>
        <input type="text" id="hp-increment" class="sheet-input" value="1d{{system.hitPointIncrement}}" disabled />
    </div>
    <div class="newera-itemsheet-property-50">
        <h4>Max. HP (Uninjured)</h4>
        <input type="text" name="system.hitPointTrueMax" id="hp-true-max" class="sheet-input" style="width: 75%" value="{{system.hitPointTrueMax}}" data-dtype="Number" />
        {{#if system.hpIncreaseAvailable}}
            <button class="sheet-input" id="increaseHpButton" style="width: 20%" data-tooltip="Increase Maximum Hit Points" data-tooltip-direction="UP"><i class="fa-solid fa-arrow-up" style="color: rgb(240, 157, 41)"></i></button>
        {{else}}
            <button class="sheet-input" style="width: 20%" data-tooltip="Your Max HP is increased for this level." data-tooltip-direction="UP" disabled><i class="fas fa-check"></i></button>
        {{/if}}
    </div>
</div>

<table class="newera-actorsheet-table">
    <tr>
        <th colspan="2">KEY FEATURES</th>
    </tr>
    {{#each features.key as |feature index|}}
    <tr>
        <td class="class-feature">
            <h4>{{{feature.name}}}</h4>
            {{{feature.description}}}

            {{#if feature.tableValues}}
            <div class="feature-selections">
                {{#each feature.tableValues as |tableValue index|}}
                    <div class="feature-selection">
                        <label>{{tableValue.label}}</label>
                        <input type="text" class="sheet-input" value="{{#if tableValue.sign}}+{{/if}}{{tableValue.current}}" disabled />
                        <input type="hidden" name="system.tableValues.{{tableValue.field}}" value="{{tableValue.current}}" />
                    </div>
                {{/each}}
            </div>
            {{/if}}

            {{#if feature.selections}}
            <div class="feature-selections">
                {{#each feature.selections as |selection index2|}}
                    <div class="feature-selection">
                        <label>{{selection.label}}</label>
                        <select name="system.classes.{{../id}}.{{index2}}" class="sheet-input feature-select" data-old-value="">
                            <option value=""><i>Choose...</i></option>
                            {{#each selection.options as |label index3|}}
                                <option value="{{index3}}">{{label}}</option>
                            {{/each}}
                        </select>
                    </div>
                {{/each}}
            </div>
            {{/if}}
        </td>
        <td style="width: 36px; margin-left: 6px" data-tooltip="Key {{feature.className}} Feature" data-tooltip-direction="LEFT">
            <img class="resource-icon" src="{{feature.classImg}}" />
        </td>
    </tr>
    {{/each}}
</table>

<table class="newera-actorsheet-table">
    <tr>
        <th colspan="2">CLASS FEATURES</th>
    </tr>
    {{#each features.basic as |feature index|}}
    <tr>
        <td class="class-feature">
            {{#if feature.spellStudies}}
                <div class="spell-study-guide-links">
                    {{#each feature.spellStudies as |studies index|}}
                        {{#if studies.complete}}
                            <button class="sheet-input" data-tooltip="Spell Study Guide {{studies.status}}"><i class="fas fa-check" style="opacity: 0.5"></i></button>
                        {{else}}
                            <button class="sheet-input spell-studies" data-class="{{../clazz}}" data-archetype="{{../archetype}}" data-level="{{../level}}" data-index="{{studies.index}}" data-tooltip="Spell Study Guide {{studies.status}}"><i class="fa-solid fa-books"></i></button>
                        {{/if}}
                    {{/each}}
                </div>
            {{/if}}
            <h4>{{{feature.name}}}</h4>
            {{{feature.description}}}
            {{#if feature.selections}}
            <div class="feature-selections">
                {{#each feature.selections as |selection index2|}}
                    <div class="feature-selection">
                        <label>{{selection.label}}</label>
                        <select name="system.classes.{{../id}}.{{index2}}" class="sheet-input feature-select" data-old-value="">
                            <option value=""><i>Choose...</i></option>
                            {{#each selection.options as |label index3|}}
                                <option value="{{index3}}">{{{label}}}</option>
                            {{/each}}
                        </select>
                    </div>
                {{/each}}
            </div>
            {{/if}}
        </td>
        <td class="feature-level" style="width: 12%" data-tooltip="Level {{feature.level}} {{feature.className}} Feature" data-tooltip-direction="LEFT">
            <img class="resource-icon" src="{{feature.classImg}}" />
            <h2>{{feature.level}}</h2>
        </td>
    </tr>
    {{/each}}
</table>