<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />

<div id="phoneui" style="background-image: url({{system.backgroundImage}});">
    <div id="phoneui-top">
        <img id="settings" src="systems/newera-sol366/resources/phone-ui/settings.png" data-tooltip="Phone Settings" data-tooltip-direction="DOWN" class="app-open" data-app="settings" />
        <img id="service" src="systems/newera-sol366/resources/phone-ui/service-{{world.signal.status}}.png" data-tooltip="{{world.signalDescription}}" data-tooltip-direction="DOWN"/>
        <img id="battery" src="systems/newera-sol366/resources/phone-ui/battery-{{system.batteryLevel}}.png" data-tooltip="Set Battery Level" data-tooltip-direction="DOWN" />
        {{#if standardFeatures}}
        <img id="flashlight" src="systems/newera-sol366/resources/phone-ui/flashlight-{{system.flashlight}}.png" data-tooltip="Toggle Flashlight" data-tooltip-direction="DOWN" />
        <img id="weather" src="systems/newera-sol366/resources/phone-ui/weather/{{world.weather.display.image}}.png" data-tooltip="Weather Forecast" data-tooltip-direction="DOWN" class="app-open" data-app="weather" />
        {{/if}}
        {{#if unread}}
            <img id="unread" src="systems/newera-sol366/resources/phone-ui/unread.png" data-tooltip="You have unread messages!" data-tooltip-direction="DOWN" />
        {{/if}}
        <div id="phoneui-clock-top" style="display: none">
            {{world.time.text}}
        </div>
    </div>
    <div id="phoneui-screen">
        <form class="{{cssClass}}" autocomplete="off">
            <div id="phoneui-home">
                <div id="phoneui-clock">
                    <h1>{{world.time.text}}</h1>
                    <h2>{{world.date.text}}</h2>
                </div>
                {{#if world.location}}
                <div id="phoneui-location">
                    <i class="fa-solid fa-location-arrow"></i> {{world.location}}
                </div>
                {{/if}}
                
                <div id="phoneui-apps">
                    <div class="phoneui-app-icon app-open" data-app="contacts" data-tooltip="Calls / Contacts" data-tooltip-direction="UP">
                        <img src="systems/newera-sol366/resources/phone-ui/app-contacts.png" />
                    </div>
                    <div class="phoneui-app-icon app-open" data-app="messages" data-tooltip="Messages" data-tooltip-direction="UP">
                        <img src="systems/newera-sol366/resources/phone-ui/app-messages.png" />
                    </div>
                    {{#if standardFeatures}}
                    <div class="phoneui-app-icon app-open" data-app="photos" data-tooltip="Camera" data-tooltip-direction="UP">
                        <img src="systems/newera-sol366/resources/phone-ui/app-camera.png" />
                    </div>
                    <div class="phoneui-app-icon app-open" data-app="map" data-tooltip="Skye Maps" data-tooltip-direction="UP">
                        <img src="systems/newera-sol366/resources/phone-ui/app-map.png" />
                    </div>
                    <div class="phoneui-app-icon app-open" data-app="browser" data-tooltip="DreamCloud Web Browser" data-tooltip-direction="UP">
                        <img src="systems/newera-sol366/resources/phone-ui/app-browser.png" />
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="phoneui-app" id="app-contacts">
                {{> systems/newera-sol366/templates/item/phone/phone-contacts.hbs}}
            </div>
            <div class="phoneui-app" id="app-weather">
                {{> systems/newera-sol366/templates/item/phone/phone-weather.hbs}}
            </div>
            <div class="phoneui-app" id="app-settings">
                {{> systems/newera-sol366/templates/item/phone/phone-settings.hbs}}
            </div>
            <div class="phoneui-app" id="app-map">
                {{> systems/newera-sol366/templates/item/phone/phone-map.hbs}}
            </div>
            <div class="phoneui-app" id="app-call">
                {{> systems/newera-sol366/templates/item/phone/phone-call.hbs}}
            </div>
            <div class="phoneui-app" id="app-messages">
                {{> systems/newera-sol366/templates/item/phone/phone-messages.hbs}}
            </div>
            <div class="phoneui-app" id="app-browser">
                {{> systems/newera-sol366/templates/item/phone/phone-browser.hbs}}
            </div>
            <div class="phoneui-app" id="app-photos">
                {{> systems/newera-sol366/templates/item/phone/phone-photos.hbs}}
            </div>
            <div class="phoneui-app" id="app-chat">
                {{> systems/newera-sol366/templates/item/phone/phone-chat.hbs}}
            </div>
            <input type="hidden" name="system.batteryLevel" value="{{system.batteryLevel}}" id="batteryLevel" />
            <input type="hidden" name="system.flashlight" value="{{system.flashlight}}" id="flashlightState" />
            <input type="hidden" name="system.callee" value="{{system.callee}}" id="currentCallee" />
            <input type="hidden" name="system.selectedPhoto" value="{{system.selectedPhoto}}" id="selectedPhoto" />
            <input type="hidden" name="system.openApp" value="{{system.openApp}}" id="openAppField" />
            <input type="hidden" name="system.stored" value="{{system.stored}}" data-dtype="Boolean" />
        </form>
    </div>
    {{#if system.deadBattery}}
    <div id="phoneui-dead-battery">
        <img id="battery-dead" src="systems/newera-sol366/resources/phone-ui/battery-0.png" />
    </div>
{{/if}}
</div>