<div class="phoneui-app-header">
    <a class="phoneui-close-button app-open" data-app-id="messages"><i class="fa-solid fa-circle-left"></i></a>
    <h3 id="recipient">{{conversation.name}}</h3>
    {{#if enableReceiveMsg}}
        <a class="phoneui-right-header-button" id="receiveMessage" data-tooltip="Receive Message (GM Only)" data-tooltip-direction="DOWN" data-convo-id="{{calleeIndex}}"><i class="fa-solid fa-inbox"></i></a>
    {{/if}}
</div>
<div class="phoneui-app-body" id="messageHistory">
    {{#each conversation.messages as |message index|}}
        {{#if message.sent}}
        <div class="message-container-outgoing">
            <div class="message-outgoing">
                <p>{{message.content}}</p>
                <span class="timestamp">{{message.timestamp}}</span>
            </div>
        </div>
        {{else}}
        <div class="message-container-incoming">
            <div class="message-incoming">
                <p>{{message.content}}</p>
                <span class="timestamp">{{message.timestamp}}</span>
            </div>
        </div>
        {{/if}}
    {{/each}}
</div>
<div class="phoneui-app-footer" style="padding-top: 12px">
    <input type="text" id="messageContent" placeholder="Enter a message..." class="phoneui-input" style="text-align: left" />
    <button class="phoneui-input chat-button" id="sendMessage" data-convo-id="{{calleeIndex}}">
        Send
    </button>
</div>