<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aboreto" />

<form class="{{cssClass}} {{actor.type}} newera-actorsheet-body" autocomplete="off">

  {{!-- Sheet Header --}}
  <div class="newera-actorsheet-top">
    <h1 class="container-title">{{actor.name}}</h1> 
  </div>

  <div class="newera-actorsheet-tabs">
    <nav class="sheet-tabs tabs" data-group="primary">
      {{#if gm}}
        <a class="item newera-section-header" data-tab="properties"><i class="fa-solid fa-lock"></i> Properties</a>
      {{/if}}
      <a class="item newera-section-header" data-tab="profile">Items</a>
    </nav>
  </div>

  <div class="newera-actorsheet-scroll newera-equipment-dropzone" data-drop-zone="backpack">
    <section class="sheet-body">
      <div class="tab profile" data-group="primary" data-tab="properties">
        <div class="newera-itemsheet-properties">
          <div class="newera-itemsheet-property-33">
            <img class="newera-actorsheet-image" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128" />
          </div>
          <div class="newera-itemsheet-property-33">
            <h4>Container Name</h4>
            <input type="text" class="sheet-input" name="name" value="{{actor.name}}" />
          </div>
          <div class="newera-itemsheet-property-33">
            <h4>Maximum Item Weight</h4>
            <input type="text" class="sheet-input" name="system.weightCapacity" value="{{system.weightCapacity}}" />
          </div>
        </div>
        <h3>GM's Notes</h3>
        <div class="newera-editor" style="height: 240px">
          {{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
        </div>
      </div>
      <div class="tab profile" data-group="primary" data-tab="profile">
        {{> systems/newera-sol366/templates/actor/parts/creature-items.hbs}}
      </div>
    </section>
  </div>
</form>
