<table class="newera-actorsheet-table">
    <tr style="display: none"></tr>
    {{#each effects as |effect index|}}
    <tr class="effect-row" data-effect-id="{{effect._id}}" data-color="{{effect.tint}}" style="width: 10%">
        <td>
            <img class="resource-icon" src="{{effect.icon}}" />
        </td>
        <td style="width: 80%">
            <h3>{{effect.name}}</h3>
            {{{effect.description}}}
        </td>
        <td style="width: 10%">
            <a class="effect-toggle" data-effect-id="{{effect._id}}"><i class="fa-solid {{#if effect.disabled}}fa-toggle-off{{else}}fa-toggle-on{{/if}}"></i></a>
            <a class="effect-edit" data-effect-id="{{effect._id}}"><i class="fas fa-edit"></i></a>
            <a class="effect-delete" data-effect-id="{{effect._id}}"><i class="fas fa-x"></i></a>
        </td>
    </tr>
    {{/each}}
    <tr>
        <td colspan="3">
            <a class="effect-create"><i class="fas fa-plus"></i> Add</a>
        </td>
    </tr>
</table>