<form class="{{cssClass}} newera-itemsheet-body" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{system.customName}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" class="sheet-input" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      {{#if system.casperObjectId}}
        <a style="float: right" class="srd-x-button" id="clearCasperMetadata" data-tooltip="Remove CASPER Metadata" data-tooltip-direction="LEFT">
          <i class="fa-solid fa-x"></i>
        </a>
        <a style="float: right" target="_blank" data-tooltip="View on SRD" data-tooltip-direction="LEFT" href="https://www.newerarpg.com/srd/contentview/_obj_detail?module=newera-sol366&key={{system.casperObjectId}}">
          <img src="systems/newera-sol366/resources/open-srd.png" class="skill-icon" />
        </a>
      {{/if}}
      <div class="resource">
        <select name="system.actionType" class="sheet-input" style="margin-left: 8px" id="action-type-{{item.id}}">
          <option value="1">1 Frame</option>
          <option value="2">2 Frames</option>
          <option value="3">3 Frames</option>
          <option value="4">4 Frames</option>
          <option value="5">5 Frames</option>
          <option value="0">Free Action</option>
          <option value="R">Reaction</option>
          <option value="E">Exploration</option>
          <option value="S">Social</option>
          <option value="D">Downtime</option>
          <option value="M">Movement</option>
        </select>
      </div>
    </div>
  </header>

  <div class="newera-actorsheet-tabs">
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item newera-section-header" data-tab="properties">Description</a>
      <a class="item newera-section-header" data-tab="rolls">Rolls</a>
    </nav>
  </div>

  <section class="sheet-body">

    <div class="tab" data-group="primary" data-tab="properties">
      <div class="newera-itemsheet-editor-container">
        {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="rolls">
      <table class="newera-actorsheet-table">
        <tr>
          <th>Roll</th>
          <th>Dice</th>
          <th colspan="2">Modifiers</th>
        </tr>
        {{#each system.rolls as |roll index|}}
          <tr>
            <td style="width: 25%"><input type="text" class="sheet-input" name="system.rolls.{{index}}.label" value="{{roll.label}}" /></td>
            {{#if roll.customFormula}}
            <td colspan="2" style="width: 65%">
              <input type="text" class="sheet-input roll-formula" name="system.rolls.{{index}}.customFormula" value="{{roll.customFormula}}" />
            </td>
            <td style="width: 10%">
              <a class="roll-switch" data-switch="basic" data-roll-index="{{index}}" data-tooltip="Basic" data-tooltip-direction="LEFT">
                <i class="fa-regular fa-dice"></i>
              </a>
              <a class="roll-delete" data-roll-index="{{index}}" data-tooltip="Remove Roll" data-tooltip-direction="LEFT">
                <i class="fas fa-trash"></i>
              </a>
            </td>
            {{else}}
            <td style="width: 45%">
              <input type="text" class="sheet-input" name="system.rolls.{{index}}.dieCount" value="{{roll.dieCount}}" data-dtype="Number" style="width: 40%" />
              d
              <select name="system.rolls.{{index}}.dieSize" id="die-size-{{../item.id}}-{{index}}" class="sheet-input" style="width: 40%">
                <option value="3">3*</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="12">12</option>
                <option value="20">20</option>
                <option value="24">24*</option>
                <option value="30">30*</option>
                <option value="50">50*</option>
                <option value="60">60*</option>
                <option value="100">100*</option>
              </select>
            </td>
            <td style="width: 20%">
              <input type="text" class="sheet-input" name="system.rolls.{{index}}.modifier" value="{{roll.modifier}}" data-dtype="Number" />
            </td>
            <td style="width: 10%">
              <a class="roll-switch" data-switch="advanced" data-roll-index="{{index}}" data-tooltip="Advanced (Formula Entry)" data-tooltip-direction="LEFT">
                <i class="fa-solid fa-code"></i>
              </a>
              <a class="roll-delete" data-roll-index="{{index}}" data-tooltip="Remove Roll" data-tooltip-direction="LEFT">
                <i class="fas fa-trash"></i>
              </a>
            </td>
            {{/if}}
          </tr>
        {{/each}}
        <tr>
          <td colspan="4">
            <a title="Add Roll" id="addRollButton-{{item.id}}">
              <i class="fas fa-plus"></i> ADD ROLL
            </a>
          </td>
        </tr>
      </table>
    </div>

  </section>
  <input type="hidden" name="system.images.left" value="{{system.images.left}}" />
</form>
