<form class="{{cssClass}} newera-itemsheet-body" autocomplete="off">
  <div class="enchantment-dropzone">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{system.customName}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" class="sheet-input" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <a style="float: right" target="_blank" data-tooltip="View on SRD" data-tooltip-direction="LEFT" href="https://www.newerarpg.com/srd/contentview/_obj_detail?module=newera-sol366&key={{system.casperObjectId}}">
        <img src="systems/newera-sol366/resources/open-srd.png" class="skill-icon" />
      </a>
      <div class="resource">
        <select name="system.rarity" class="sheet-input" style="margin-left: 8px" id="rarity-{{item.id}}">
          <option value="1">Common</option>
          <option value="2">Uncommon</option>
          <option value="3">Rare</option>
          <option value="4">Extremely Rare</option>
          <option value="5">Unique</option>
          <option value="0">Rarity Unknown</option>
        </select>
        <select name="system.equipSlot" class="sheet-input" id="slot-{{item.id}}">
          <option value="I">Equipment</option>
          <option value="C">Consumable</option>
          <option value="O">Outfit</option>
          <option value="A">Accessory</option>
          <option value="F">Wearable (Face)</option>
          <option value="B">Wearable (Body)</option>
          <option value="N">Wearable (Neck)</option>
          <option value="S">Wearable (Feet)</option>
          <option value="R">Wearable (Hands)</option>
          <option value="W">Wearable (Waist)</option>
        </select>
        {{#if system.isOutfit}}
        <select name="system.outfitType" class="sheet-input" id="outfit-{{item.id}}">
          <option value="O">Standard</option>
          <option value="C">Cold Weather</option>
          <option value="H">Hot Weather</option>
          <option value="A">Athletic</option>
          <option value="F">Formal</option>
          <option value="S">Stealth</option>
          <option value="M">Hazmat</option>
          <option value="W">Wetsuit</option>
          <option value="D">Disguise</option>
        </select>
        {{/if}}
      </div>
    </div>
  </header>

  <div class="newera-actorsheet-tabs">
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item newera-section-header" data-tab="properties">Properties</a>
      <a class="item newera-section-header" data-tab="actions">Actions</a>
      <a class="item newera-section-header" data-tab="enchantments">Enchantments</a>
    </nav>
  </div>

  <section class="sheet-body">

    <div class="tab properties" data-group="primary" data-tab="properties">
      <div class="newera-itemsheet-properties">
        <div class="resource newera-itemsheet-property-33">
          <h4>Weight</h4>
          <input type="text" class="sheet-input" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
        </div>
        <div class="resource newera-itemsheet-property-33">
          <h4>Quantity{{#if system.units}} ({{system.units}}){{/if}}</h4>
          <input type="text" class="sheet-input" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
        </div>
        <div class="resource newera-itemsheet-property-33">
          <h4>Value <i>(Estimated)</i></h4>
          <input type="text" class="sheet-input" name="system.value" value="{{system.value}}" data-dtype="Number" />
        </div>
      </div>
      <span style="display: block">&nbsp;</span>
  
      <div class="newera-itemsheet-editor-container">
        {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
      </div>
    </div>

    <div class="tab actions" data-group="primary" data-tab="actions">
      {{> systems/newera-sol366/templates/item/parts/item-actions.hbs}}
    </div>

    <div class="tab effects" data-group="primary" data-tab="enchantments">
      {{> systems/newera-sol366/templates/item/parts/item-enchantments.hbs}}
    </div>

  </section>
  </div>

  <input type="hidden" name="system.stored" value="{{system.stored}}" data-dtype="Boolean" />
</form>
