<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aboreto" />

<form class="{{cssClass}} newera-itemsheet-body" autocomplete="off">
  <div class="enchantment-dropzone">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{system.customName}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" class="sheet-input" type="text" value="{{item.name}}" placeholder="Name" disabled /></h1>
      {{#if system.casperObjectId}}
        <a style="float: right" class="srd-x-button" id="clearCasperMetadata" data-tooltip="Remove CASPER Metadata" data-tooltip-direction="LEFT">
          <i class="fa-solid fa-x"></i>
        </a>
        <a style="float: right" target="_blank" data-tooltip="View on SRD" data-tooltip-direction="LEFT" href="{{webUrl}}/srd/contentview/_obj_detail?module=newera-sol366&key={{system.casperObjectId}}">
          <img src="systems/newera-sol366/resources/open-srd.png" class="skill-icon" />
        </a>
      {{/if}}
      <div class="resource">
        <select name="system.rarity" class="sheet-input auto-value" style="margin-left: 8px" data-dtype="Number" {{disabled system.standard}}>
          <option value="1">Common</option>
          <option value="2">Uncommon</option>
          <option value="3">Rare</option>
          <option value="4">Extremely Rare</option>
          <option value="5">Unique</option>
          <option value="0">Rarity Unknown</option>
        </select>
        <select name="system.weaponType" class="sheet-input auto-value">
          <option value="">Custom Weapon</option>
          <option value="" disabled>[ Light ]</option>
          <option value="Knife">Knife</option>
          <option value="Dagger">Dagger</option>
          <option value="Combat Knife">Combat Knife</option>
          <option value="Throwing Knife">Throwing Knife</option>
          <option value="Shortsword">Shortsword</option>
          <option value="Hatchet">Hatchet</option>
          <option value="Baton">Baton</option>
          <option value="Cleaver">Cleaver</option>
          <option value="Hammer">Hammer</option>
          <option value="" disabled>[ Medium ]</option>
          <option value="Longsword">Longsword</option>
          <option value="Axe">Axe</option>
          <option value="Club">Club</option>
          <option value="Spiked Club">Spiked Club</option>
          <option value="Crowbar">Crowbar</option>
          <option value="Machete">Machete</option>
          <option value="" disabled>[ Heavy ]</option>
          <option value="Spear">Spear</option>
          <option value="Greatsword">Greatsword</option>
          <option value="Battle Axe">Battle Axe</option>
          <option value="Sledgehammer">Sledgehammer</option>
          <option value="Katana">Katana</option>
          <option value="Bayonet">Bayonet</option>
          <option value="" disabled>[ Brawl ]</option>
          <option value="Knuckleduster">Knuckleduster</option>
          <option value="Spiked Knuckleduster">Spiked Knuckleduster</option>
        </select>
      </div>
    </div>
  </header>

  <div class="newera-actorsheet-tabs">
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item newera-section-header" data-tab="properties">Properties</a>
      <a class="item newera-section-header" data-tab="actions">Attacks</a>
      <a class="item newera-section-header" data-tab="enchantments">Enchantments</a>
    </nav>
  </div>

  <section class="sheet-body">
  <div class="tab" data-group="primary" data-tab="properties">
    <h3 class="table-header">Weapon Attributes</h3>
    <div class="newera-itemsheet-properties">
      <input type="checkbox" name="system.useCustomItemName" {{checked system.useCustomItemName}} class="skill-checkbox" /> Customize Name
      {{#if system.useCustomItemName}}
        <input type="text" class="sheet-input" name="system.customName" value="{{system.customName}}" />
      {{/if}}
    </div>
    <div class="newera-itemsheet-properties">
      <div class="resource newera-itemsheet-property-33">
        <h4>Weight</h4>
        <input type="text" class="sheet-input" name="system.weight" value="{{system.weight}}" data-dtype="Number" {{disabled system.standard}} />
      </div>
      <div class="resource newera-itemsheet-property-33">
        <h4>Durability 
        <span class="rollable" data-roll="d20" data-label="Durability Check ({{item.name}})">
          <img class="die" src="systems/newera-sol366/resources/d20-orange.png" />
        </span>
        </h4>
        <input type="text" class="sheet-input" name="system.durability" value="{{system.durability}}" data-dtype="Number" {{disabled system.standard}} />
      </div>
      <div class="resource newera-itemsheet-property-33">
        <h4>Value <i>(Estimated)</i></h4>
        <input type="text" class="sheet-input" name="system.value" value="{{system.value}}" data-dtype="Number" {{disabled system.standard}} />
      </div>
    </div>
    <div class="newera-itemsheet-properties">
      <div class="newera-itemsheet-property-50">
        <h4>Handedness</h4>
        <select name="system.handedness" class="sheet-input auto-value" {{disabled system.standard}}>
          <option value="1H">One-Handed</option>
          <option value="1.5H">Hand-and-a-Half</option>
          <option value="2H">Two-Handed</option>
          <option value="T">Thrown</option>
          <option value="B">Brawl Attack</option>
        </select>
      </div>
      <div class="newera-itemsheet-property-50">
        <h4>Material</h4>
        <select name="system.material" class="sheet-input auto-value">
          <option value="" {{disabled system.standard}}>Other</option>
          {{#if system.selectableMaterials.ethereal}}<option value="Ethereal">Ethereal*</option>{{/if}}
          {{#if system.selectableMaterials.wooden}}<option value="Wooden">Wood</option>{{/if}}
          {{#if system.selectableMaterials.stone}}<option value="Stone">Stone</option>{{/if}}
          {{#if system.selectableMaterials.bone}}<option value="Bone">Bone</option>{{/if}}
          {{#if system.selectableMaterials.rusty_iron}}<option value="Rusty Iron">Iron (Rusty)</option>{{/if}}
          {{#if system.selectableMaterials.iron}}<option value="Iron">Iron</option>{{/if}}
          {{#if system.selectableMaterials.tarnished_bronze}}<option value="Tarnished Bronze">Bronze (Tarnished)</option>{{/if}}
          {{#if system.selectableMaterials.bronze}}<option value="Bronze">Bronze</option>{{/if}}
          {{#if system.selectableMaterials.brass}}<option value="Brass">Brass</option>{{/if}}
          {{#if system.selectableMaterials.rusty_steel}}<option value="Rusty Steel">Steel (Rusty)</option>{{/if}}
          {{#if system.selectableMaterials.steel}}<option value="Steel">Steel</option>{{/if}}
          {{#if system.selectableMaterials.stainless_steel}}<option value="Stainless Steel">Stainless Steel</option>{{/if}}
          {{#if system.selectableMaterials.carbon_steel}}<option value="Carbon Steel">Carbon Steel</option>{{/if}}
          {{#if system.selectableMaterials.silver}}<option value="Silver">Silver</option>{{/if}}
          {{#if system.selectableMaterials.ceramic}}<option value="Ceramic">Ceramic</option>{{/if}}
          {{#if system.selectableMaterials.obsidian}}<option value="Obsidian">Obsidian</option>{{/if}}
          {{#if system.selectableMaterials.ætherite}}<option value="Ætherite">Ætherite</option>{{/if}}
          {{#if system.selectableMaterials.æther_crystal}}<option value="Æther Crystal">Æther Crystal</option>{{/if}}
          {{#if system.selectableMaterials.nocturnum}}<option value="Nocturnum">Nocturnum</option>{{/if}}
        </select>
      </div>
    </div>
    <div class="newera-itemsheet-properties">
      <div class="newera-itemsheet-property-50">
        <h4>Condition</h4>
        <select name="system.condition" class="sheet-input auto-value" data-dtype="Number">
          <option value="5">Flawless (5)</option>
          <option value="4">Pristine (4)</option>
          <option value="3">Good (3)</option>
          <option value="2">Damaged (2)</option>
          <option value="1">Badly Damaged (1)</option>
          <option value="0">Broken (0)</option>
        </select>
      </div>
      <div class="newera-itemsheet-property-50">
        <h4>Refinement Quality</h4>
        <input type="text" name="system.quality" value="{{system.quality}}" class="sheet-input" data-dtype="Number" />
      </div>
    </div>
    <span style="display: block">&nbsp;</span>

    {{#unless system.standard}}
      <h3 class="table-header">Damage</h3>
      <div class="newera-itemsheet-properties">
        <div class="newera-itemsheet-property-33">
          <input type="text" name="system.customDamage.amount" value="{{system.customDamage.amount}}" />
          <select name="system.customDamage.type" class="sheet-input auto-value">
            <option value="bludgeoning">Bludgeoning</option>
            <option value="slashing">Slashing</option>
            <option value="piercing">Piercing</option>
          </select>
        </div>
      </div>
      <div class="newera-itemsheet-editor-container">
        {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
      </div>
    {{/unless}}
  
  </div>

  <div class="tab" data-group="primary" data-tab="actions">
    {{> systems/newera-sol366/templates/item/parts/melee-weapon-attacks.hbs}}
  </div>

  <div class="tab" data-group="primary" data-tab="enchantments">
    {{> systems/newera-sol366/templates/item/parts/item-enchantments.hbs}}
  </div>

  </section>
  </div>

  <input type="hidden" name="system.stored" value="{{system.stored}}" data-dtype="Boolean" />
</form>
