<form class="{{cssClass}} newera-itemsheet-body" autocomplete="off">
  <div class="enchantment-dropzone">
    <header class="sheet-header">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{system.customName}}"/>
      <div class="header-fields">
        <h1 class="charname"><input name="name" class="sheet-input" type="text" value="{{item.name}}" placeholder="Name" disabled /></h1>
        {{#if system.casperObjectId}}
        <a style="float: right" class="srd-x-button" id="clearCasperMetadata" data-tooltip="Remove CASPER Metadata" data-tooltip-direction="LEFT">
          <i class="fa-solid fa-x"></i>
        </a>
        <a style="float: right" target="_blank" data-tooltip="View on SRD" data-tooltip-direction="LEFT" href="https://www.newerarpg.com/srd/contentview/_obj_detail?module=newera-sol366&key={{system.casperObjectId}}">
          <img src="systems/newera-sol366/resources/open-srd.png" class="skill-icon" />
        </a>
      {{/if}}
        <div class="resource">
          <select name="system.rarity" class="sheet-input auto-value" style="margin-left: 8px" data-dtype="Number" {{disabled system.standard}}>
            <option value="1">Common</option>
            <option value="2">Uncommon</option>
            <option value="3">Rare</option>
            <option value="4">Extremely Rare</option>
            <option value="5">Unique</option>
            <option value="0">Rarity Unknown</option>
          </select>
          <select name="system.shieldType" class="sheet-input auto-value">
            <option value="">(Custom Shield Stats)</option>
            <option value="Kite Shield">Kite Shield</option>
            <option value="Cavalry Shield">Cavalry Shield</option>
            <option value="Body Shield">Body Shield</option>
            <option value="Targe">Targe</option>
          </select>
        </div>
      </div>
    </header>
  
    <div class="newera-actorsheet-tabs">
      <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item newera-section-header" data-tab="properties">Properties</a>
        <a class="item newera-section-header" data-tab="actions">Actions</a>
        <a class="item newera-section-header" data-tab="enchantments">Enchantments</a>
      </nav>
    </div>
  
    <section class="sheet-body">
  
      <div class="tab" data-group="primary" data-tab="properties">
        <div class="newera-itemsheet-properties">
          <input type="checkbox" name="system.useCustomItemName" {{checked system.useCustomItemName}} class="skill-checkbox" /> Customize Name
          {{#if system.useCustomItemName}}
            <input type="text" class="sheet-input" name="system.customName" value="{{system.customName}}" />
          {{/if}}
        </div>
        <div class="newera-itemsheet-properties">
          <div class="resource newera-itemsheet-property-33">
            <h4>Weight</h4>
            <input type="text" class="sheet-input" name="system.weight" value="{{system.weight}}" data-dtype="Number" {{disabled system.standard}} />
          </div>
          <div class="resource newera-itemsheet-property-33">
            <h4>Durability</h4>
            <span class="rollable" data-roll="d20" data-label="Durability Check ({{item.name}})">
              <img class="die" src="systems/newera-sol366/resources/d20-orange.png" />
            </span>
            </h4>
            <input type="text" class="sheet-input" name="system.durability" value="{{system.durability}}" data-dtype="Number" {{disabled system.standard}} />
          </div>
          <div class="resource newera-itemsheet-property-33">
            <h4>Value <i>(Estimated)</i></h4>
            <input type="text" class="sheet-input" name="system.value" value="{{system.value}}" data-dtype="Number" {{disabled system.standard}} />
          </div>
        </div>
        <div class="newera-itemsheet-properties">
          <div class="newera-itemsheet-property-50">
            <h4>Shield Rating</h4>
            <input type="text" class="sheet-input" name="system.shieldRating" value="{{system.shieldRating}}" data-dtype="Number" {{disabled system.standard}} />
          </div>
          <div class="newera-itemsheet-property-50">
            <h4>Material</h4>
            <select name="system.material" class="sheet-input auto-value">
              <option value="" {{disabled system.standard}}>Other</option>
              {{#if system.selectableMaterials.wooden}}<option value="Wooden">Wooden</option>{{/if}}
              {{#if system.selectableMaterials.leather}}<option value="Leather">Leather</option>{{/if}}
              {{#if system.selectableMaterials.rubber}}<option value="Rubber">Rubber</option>{{/if}}
              {{#if system.selectableMaterials.acrylic}}<option value="Acrylic">Acrylic</option>{{/if}}
              {{#if system.selectableMaterials.ballistic}}<option value="Ballistic">Ballistic Fabric</option>{{/if}}
              {{#if system.selectableMaterials.nylon}}<option value="Nylon">Nylon</option>{{/if}}
              {{#if system.selectableMaterials.rusty_iron}}<option value="Rusty Iron">Iron (Rusty)</option>{{/if}}
              {{#if system.selectableMaterials.iron}}<option value="Iron">Iron</option>{{/if}}
              {{#if system.selectableMaterials.tarnished_bronze}}<option value="Tarnished Bronze">Bronze (Tarnished)</option>{{/if}}
              {{#if system.selectableMaterials.bronze}}<option value="Bronze">Bronze</option>{{/if}}
              {{#if system.selectableMaterials.rusty_steel}}<option value="Rusty Steel">Steel (Rusty)</option>{{/if}}
              {{#if system.selectableMaterials.steel}}<option value="Steel">Steel</option>{{/if}}
              {{#if system.selectableMaterials.stainless_steel}}<option value="Stainless Steel">Stainless Steel</option>{{/if}}
              {{#if system.selectableMaterials.carbon_steel}}<option value="Carbon Steel">Carbon Steel</option>{{/if}}
              {{#if system.selectableMaterials.aluminum}}<option value="Aluminum">Aluminum</option>{{/if}}
              {{#if system.selectableMaterials.lead}}<option value="Lead">Lead</option>{{/if}}
              {{#if system.selectableMaterials.ceramic}}<option value="Ceramic">Ceramic</option>{{/if}}
              {{#if system.selectableMaterials.ætherite}}<option value="Ætherite">Ætherite</option>{{/if}}
              {{#if system.selectableMaterials.nocturnum}}<option value="Nocturnum">Nocturnum</option>{{/if}}
            </select>
          </div>
        </div>
        <div class="newera-itemsheet-properties">
          <div class="newera-itemsheet-property-50">
            <h4>Condition</h4>
            <select name="system.condition" class="sheet-input auto-value" data-dtype="Number">
              <option value="5">Flawless (5)</option>
              <option value="4">Pristine (4)</option>
              <option value="3">Good (3)</option>
              <option value="2">Damaged (2)</option>
              <option value="1">Badly Damaged (1)</option>
              <option value="0">Ruined (0)</option>
            </select>
          </div>
          <div class="newera-itemsheet-property-50">
            <h4>Refinement Quality</h4>
            <input type="text" name="system.quality" value="{{system.quality}}" class="sheet-input" data-dtype="Number" />
          </div>
        </div>
      </div>
  
      <div class="tab" data-group="primary" data-tab="actions">
        {{> systems/newera-sol366/templates/item/parts/item-actions.hbs}}
      </div>
      
      <div class="tab" data-group="primary" data-tab="enchantments">
        {{> systems/newera-sol366/templates/item/parts/item-enchantments.hbs}}
      </div>
  
    </section>
  </div>
  <input type="hidden" name="system.stored" value="{{system.stored}}" data-dtype="Boolean" />
</form>
